*{
    margin: 0;
    padding: 0;
    font-family:  Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    background-color: #6698c1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.product{
    width: 90%;
    max-width: 750px;
    display: flex;
}
.gallery{
    flex-basis: 47%;
    transform: scale(1.08);
    background-color: #161414;
    box-shadow: -10px 5px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    
}
.gallery img{
    width: 100%;
    display: block;
    padding-top: 15px;
    
}
.details{
    flex-basis: 53%;
    background: #f1eeee;
    padding: 40px;
    padding-left: 60px;
    font-size: 13px;
    font-weight: 500;
    color: #777;
    box-shadow: -10px 5px 10px 10px rgba(0, 0, 0, 0.309);
}
.details h1{
    color: #333;
    font-size: 35px;
}
.details h2{
    color: #555;
    font-size: 30px;
    font-weight: 600;
}
.details h3{
    color: #00d874;
    margin-bottom: 20px;
}
.details form{
    font-size: 15px;
    font-weight: 400;
}
.size-select{
    display: flex;
    align-items: center;
    margin-top: 50px;
}
.size-select p{
    width: 70px;
}
.size-select input:checked + span{
    color: darkblue;
    font-weight: 900;
}
.size-select input{
    display: none;
}
.size-select span{
    padding: 5px;
    margin-right: 10px;
    cursor: pointer;
}
.color-select{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.color-select p{
    width: 75px;
}
.color-select span{
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 15px;
    cursor: pointer;
}
.color-1{
    background: red;
}
.color-2{
    background: yellow;
}
.color-3{
    background: green;
}
.color-4{
    background: black;
}
.color-select input{
    display: none;
}
.color-select input:checked + span{
    transform: scale(0.6);
    box-shadow: 0 0 0 4px #fff, 0 0 0 6px #000;

}
.quantity-select{
    display: flex;
    margin-top: 20px;
    align-items: center;
}
.quantity-select p{
    width: 75px;
}
.quantity-select input{
    background: #dedede;
    border: 0;
    outline: 0;
    padding: 2px 2px 2px 15px;
    width: 50px;
    border-radius: 15px;

}
.buy-btn{
    display: flex;
    margin-top: 30px;
}
.buy-btn button{
    background-color: #553ff0;
    color: #fff;
    border: 0;
    outline: 0;
    border-radius: 30px;
    font-size: 17px;
    width: 100%;
    padding: 10px;
    margin-top: 30px;
    box-shadow: 0 10px 10px rgba(85, 63, 240, 0.25);
    cursor: pointer;
    
}
.controls{
    position: absolute;
    bottom: 40px;
    right: 20px;
}
.btn{
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #4d4c52;
    margin: 8px;
    cursor: pointer;
}
.btn.active{
    background-color: #553ff0;
}

@media only screen and (max-width:600px){
    
    .container{
        display: flex;
        position: relative;
        width: 80% 20px 10px;
        height: 100%;
    }
    .product {
        display: block;
        position: absolute;
        top: 0;
        width: 100%;
        height: 150px;
    }
    .gallery{
        width: 100%;
        height: 500px;

    }
    .gallery img{
        position: absolute;
        height: 480px;
        bottom: 0;
    }
    .details h1{
        position: relative;
        font-size: 2.5em;
        font-family: Verdana, sans-serif;
        color: #d14141;
        text-align: left;
        flex-direction: column;
    }
    .details h2{
            color: #484848;
            font-weight: 900;
            display: flex;
        }
    
    .details h3{
        display: flex;
        font-size: 25px;
    }
    .brand-info{
        color: #030303;
        display: block;
        position: relative;
        font-size: 1.8em;
        margin-top: 3px;
        padding-top: 10px;
    }
    .selector{
        margin-top: 70px;

    }
    .selector p{
        color: rgba(0, 0, 0, 0.562);
        font-size: 1.8em;
        font-weight: bold;
    }
    .span-select{
        color: #1111117c;
        font-size: 1.6em;
        font-weight: bold;
    }
    .color-select span{
        padding: 12px;
        margin-left: 20px;
    }
    .quantity-select input{
        margin-left: 50px;
        width: fit-content;
        height: 40px;
        font-size: 1.7em;
    }
    .buy-btn button{
        height: 60px;
        font-size: 1.9em;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    
} 

